{% extends 'padre.html' %}

{% load static %}

{% block contenidoquecambia %}

<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<h1>En esta seccion podemos cargar datos de marcadoras de asalto</h1>
<p>son las marcadoras mas comunes de rango medio de fps</p>

<p>formulario para agregar asalto</p>
{% if miformulario.errors %}
<p style="color: red;">estan mal los datos, revisar</p>
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ miformulario.as_table }}
    </table>
    <input type="submit" value="enviar">
    <a href="{% url 'leerasalto' %}">Ver lista de marcadoras de asalto</a>

{% endblock %}