<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Lista de Marcadoras de Asalto</title>
</head>
<body>
 {% if lasalto %}
  <ul>
    {% for p in lasalto %}
      <li>{{ p.nombre }}, FPS: {{ p.fps }}, Tipo: {{ p.tipo }}</li>
      {% if p.imagen %}
        <img src="{{ p.imagen.url }}" alt="{{ p.nombre }}">
      {% endif %}
      <button>
        <a href="{% url 'Eliminarasalto' p.nombre %}">Eliminar</a>
        <a href="{% url 'editarasalto' p.nombre %}">Editar</a>
      </button>
    {% empty %}
      
    {% endfor %}
   </ul>
  <a href="{% url 'asalto' %}">Agregar una nueva marcadora de asalto</a>
 {% else %}
  <p>No hay marcadoras de asalto.</p>
  <a href="{% url 'asalto' %}">Agregar la primera marcadora de asalto</a>
 {% endif %}
 <button onclick="window.location.href = '{% url 'asalto' %}'">Volver a asalto</button>
</body>
</html>
